<mat-card class="recipe-card">
  <mat-card-header>
    <mat-card-title>{{ recipe.title | capitalizePipe }}</mat-card-title>
    <mat-card-subtitle>
      <span class="no-wrap">{{ recipe.createdAt | timeFormatPipe }}</span>
    </mat-card-subtitle>

      <button mat-icon-button (click)="onToggleFavorite()">
        <mat-icon [class.favorite]="recipe.favorite">
          {{ recipe.favorite ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </button>
  </mat-card-header>

  <mat-card-content>
    <p>{{ recipe.description | capitalizePipe}}</p>
    <mat-card-subtitle>Ingredients</mat-card-subtitle>
    <mat-list>
      @for (ingredient of recipe.ingredients; track ingredient.id) {
        <mat-list-item>
          {{ ingredient.name | capitalizePipe }} - {{ ingredient.quantity }}
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>

  @if(isLogged){
  <mat-card-actions>
    <button mat-button color="primary" (click)="onEdit()">Edit</button>
    <button mat-button color="primary" (click)="onDetail()">Details</button>
    <button mat-button color="warn" (click)="onDelete()">Delete</button>
  </mat-card-actions>
}
</mat-card>