.content {
  flex: 1;
}

:host {
  display: grid;
  /* Definiamo due colonne: la prima si adatta al contenuto (sidebar), 
     la seconda prende tutto lo spazio rimanente (content) */
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto; /* Navbar, Content, Footer */
  min-height: 100vh;
}

/* Posizioniamo la Navbar su tutta la riga in alto */
app-navbar {
  grid-column: 1 / -1;
}

/* La Sidebar sta nella prima colonna della seconda riga */
app-sidebar {
  grid-column: 1;
  grid-row: 2;
}

/* Il contenuto (che contiene il router-outlet) sta nella seconda colonna */
.content {
  grid-column: 2;
  grid-row: 2;
  padding: 20px;
  overflow-y: auto;
}