<div class="recipe-detail">
  <h2>{{ recipe.title | capitalizePipe}}</h2>
  <p>{{ recipe.description | capitalizePipe}}</p>

  <h3>Ingredients</h3>
  <ul class="recipe-ingredients">
    @for (ingredient of recipe.ingredients; track ingredient.id) {
      <li>{{ ingredient.name | capitalizePipe}} - {{ ingredient.quantity }}</li>
    }
  </ul>

  <div class="actions">
    <button mat-raised-button color="primary" (click)="onEdit()">Edit</button>
    <button mat-raised-button color="warn" (click)="onBack()">Back</button>
    <button mat-icon-button color="accent" (click)="toggleFavorite()">
      <mat-icon [class.favorite]="recipe.favorite">
          {{ recipe.favorite ? 'favorite' : 'favorite_border' }}
        </mat-icon>
    </button>
  </div>
</div>