<div class="recipes-container">

  @if (isLogged){
  <button mat-stroked-button color="primary" (click)="onAdd()">
  Add Recipe
</button>
  } @else {
    <div class="header-locked">
      <h2>🔒 Full access locked</h2>
      <p>Sign in to use all recipe features.</p>
      <button mat-stroked-button color="primary" [routerLink]="['/login']">
          Sign In
      </button>
    </div>
  }

  <div class="recipe-list">
    @for (recipe of recipes$ | async; track recipe.id) {
      <app-recipe-cards
        [recipe]="recipe"
        [isLogged]="isLogged"
        (edit)="onEdit(recipe)"
        (detail)="onDetail(recipe)"
        (delete)="onDelete(recipe)"
        (toggleFavorite)="onToggleFavorite(recipe)">
      </app-recipe-cards>
    }
  </div>

  <div class="api-banner">

  <h2>🍽️ No ideas?</h2>

  <p>Discover community recipes and get inspired for your next meal.</p>

</div> 

@if (isLogged){
<div class="recipe-list">

    @for (meal of apiRec$ | async; track meal.idMeal) {

      <div class="card">
        <img [src]="meal.strMealThumb">
        <h3>{{ meal.strMeal | capitalizePipe }}</h3>
        <p>{{ meal.strCategory }}</p>
        <h2>Ingredients</h2>
        <p>{{meal.strIngredient1 | capitalizePipe }} - {{meal.strMeasure1}}</p>
        <p>{{meal.strIngredient2 | capitalizePipe }} - {{meal.strMeasure2}}</p>
        <p>{{meal.strIngredient3 | capitalizePipe }} - {{meal.strMeasure3}}</p>
        <p>{{meal.strIngredient4 | capitalizePipe }} - {{meal.strMeasure4}}</p>
        <p>{{meal.strIngredient5 | capitalizePipe }} - {{meal.strMeasure5}}</p>
        <button mat-button color="primary" (click)="onApiDetail(meal)">
          Details
        </button>
      </div>

    }

  </div>
} @else {
  <div class="api-banner-locked">
      <h2>🔒 Unlock more recipes</h2>
      <p>Sign In to access community recipes and full features.</p>
      <button mat-stroked-button color="primary" [routerLink]="['/login']">
          Sign In
        </button>
    </div>
}

</div>